<h1> Create a New User</h1>

 <form accept-charset="UTF-8" action="/users" method="post">
 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<form action="/action_page.php" method="get">
<label for="fname">First name:</label>
<input type="text" id="fname" name="fname"><br><br>
<label for="lname">Last name:</label>
<input type="text" id="lname" name="lname"><br><br>
<input type="submit" value="Submit">
</form> 
